code::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

code::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

code::-webkit-scrollbar-track {
  background: transparent;
}